body {
    font-family: monospace;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    border-style: dashed;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

nav {
    padding-top: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main {
    background-color: antiquewhite;
    border-style: dashed;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;    
    /* display: grid;
    gap: 25px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px; */
    justify-content: center; 
}

.main .card {
    border-style: dashed;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: aliceblue;
    width: 40%;
    height: 250px;
    font-size: 20px;
}

footer {
    margin: 10px;
    padding: 20px;
    background-color: antiquewhite;
    border-style: dashed;
    border-radius: 10px;
    text-align: center;
}